<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Weekly Plan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="plan" padding >
  <!--- Time range --->

  <ion-item>
    <ion-label>168 Hours to plan</ion-label>
    <ion-range id="range" mini="0" max="168" step="1"  [(ngModel)]="time" color="danger" pin="true">
      <ion-icon range-right name="clock" color="red"></ion-icon>
    </ion-range>
  </ion-item>
  <br>

  <ion-list>
    <h2>Chose time</h2>
    <p>Now Select your desired time from drop down menu for this week.</p>
    <!--- HEADER   Study  hours  --->
    <ion-list-header>
      <ion-icon name="book" color="another2" item-start></ion-icon>
          <ion-label>Study</ion-label>
      <ion-icon item-end color="secondary" name="add" (click)="addStudy()"></ion-icon>
    </ion-list-header>
    <!--- study list items --->
    <ion-item *ngFor="let std of study | async ">
      <ion-label> {{ std.hour  }} Hours for {{ std.name  }}</ion-label>
    </ion-item>

    <!--- HEADER   Exercise  hours  --->
    <br>
    <ion-list-header>
      <ion-icon name="body" color="secondary" item-start></ion-icon>
          <ion-label>Exercise </ion-label>
      <ion-icon item-end color="secondary" name="add" (click)="addExercise()"></ion-icon>
    </ion-list-header>
    <!--- Exercise list items --->
    <ion-item *ngFor="let exr of exercise | async ">
       <ion-label> {{ exr.hour  }} Hours for {{ exr.name }}</ion-label>
    </ion-item>

    <!--- HEADER    Entertainment --->
    <br>
    <ion-list-header>
      <ion-icon name="film" color="another1" item-start></ion-icon>
          <ion-label>Entertainment </ion-label>
      <ion-icon item-end color="secondary" name="add" (click)="addMovie()"></ion-icon>
    </ion-list-header>
    <!--- Entertainment list items --->
    <ion-item *ngFor="let mov of movie | async">
       <ion-label> {{ mov.hour }} Hours for {{ mov.name }}</ion-label>
    </ion-item>

    <!--- HEADER  travel hours --->
    <br>
    <ion-list-header>
      <ion-icon name="bus" color="dark" item-start></ion-icon>
          <ion-label>Travel </ion-label>
      <ion-icon item-end color="secondary" name="add" (click)="addTravel()"></ion-icon>
    </ion-list-header>

    <!--- travel list items --->
    <ion-item *ngFor="let tra of travel| async">
       <ion-label> {{ tra.hour  }} Hours for {{ tra.name  }}</ion-label>
    </ion-item>


<!--- HEADER  Skill hours --->
    <br>
    <ion-list-header>
      <ion-icon name="bus" color="dark" item-start></ion-icon>
          <ion-label>Skill </ion-label>
      <ion-icon item-end color="secondary" name="add" (click)="addSkill()"></ion-icon>
    </ion-list-header>

    <!--- travel list items --->
    <ion-item *ngFor="let ski of skill | async">
       <ion-label> {{ ski.hour  }} Hours for {{ ski.name  }}</ion-label>
    </ion-item>

    <br>
    <ion-list-header>
      <ion-icon name="bonfire"  color="danger" item-start></ion-icon>
          <ion-label>Other Activity </ion-label>
      <ion-icon item-end color="secondary" name="add" (click)="addOther()"></ion-icon>
    </ion-list-header>
    <ion-item *ngFor="let oth of other | async">
       <ion-label> {{ oth.hour  }} Hours for {{ oth.name }}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>
